:root {
    --color1: #223982;
    --color2: #7a90d6;
    --color3: #c5d0f1;
}

body {
    background-color: var(--color1);
	font-family: "Trebuchet MS";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border: 5px solid var(--color2);
    background-color: var(--color2);
    width: 650px;
    margin: auto;
}

#profile {
    margin-top: 30px !important;
    border-radius: 10px;
}

#projects {
    width: 650px;
    border-radius: 10px;
}

.project-title {
    height: 40px;
}

#title-0 {
    border: 1px solid black;
}

tbody {
    border: 5px solid #c6c6c6;
}

th {
    padding: 10px;
    font-size: 30px;
}
th a {
    font-size: 25px;
}

tr {
    background-color: var(--color3);
}

td {
    padding: 30px;
}

td a {
    font-weight: bold;
}

#profile img, #projects img {
    width: 128px;
    height: 128px;
    max-height: 128px;
    max-width: 128px;
}